body{
    margin: 0px;
}

#board{
    background-color: blue;
    width: 100%;
    height: 600px;
    position: relative;
}

#player{
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 190px;
    left: 100px;
}

#player img{
    width: 100%;
    height: 100%;
}

#background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("./assets/background.png");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    animation: animatedBackground 25s linear infinite;

}


.playerJump{
    animation: playerJump 1s linear;
}

@keyframes playerJump {
    0%{
        bottom: 190px;
    }
    45%, 55%{
        bottom: 300px;
    }
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 0;
  }
}